/****************************************************************************************** 

Arquivo sempre será importado na page HOME.css 
    ( Ou arquivo usado para links de importação.)

Exemplo code:     
    @import url("css_pages/home-at-discipline.css");

******************************************************************************************/

.at-discipline{
    padding: 70px 0;
    background-color: var(--bg-color-secondary);
}
.at-discipline header{
    margin-bottom: 50px;
}
.at-discipline header p{
    color: var(--color-font-white);
}


.at-discipline .accordion{
    --bs-accordion-border-color: var(--color-details-primary);
}

.at-discipline .accordion-externo .accordion-button{
    background-color: var(--bg-color-secondary);
    color: var(--color-font-white);
    font-size: 20px;
    font-weight: 200;

    padding: var(--bs-accordion-btn-padding-y) 0;
}

.at-discipline .accordion-externo .accordion-item{
    border-color: var(--color-details-primary);
    background-color: transparent;
    color: var(--color-font-white);
}

.at-discipline .accordion-externo .accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom: 1px solid var(--color-details-primary);

}

.accordion-externo .accordion-header .accordion-button::before {
	content: "";
	width: 17px;
	height: 2px;
	top: 50%;
	right: 15px;
	position: absolute;
	z-index: 1;
	transition: all .5s linear;
	background-color: var(--color-font-white);
}

.accordion-externo .accordion-header .accordion-button::after {
	content: "";
	width: 2px;
	height: 17px;
	bottom: 50%;
	margin-bottom: -9px;
	right: 23px;
	position: absolute;
	z-index: 1;
	transition: all 200ms linear;
	background-color: var(--color-font-white);
	transform: rotate(90deg);
}

.accordion-externo .accordion-header .accordion-button.collapsed::after {
	transform: rotate(0deg);
}


/* AQUI AS CONFIGURAÇÕES DO ACCORDION INTERNO */

.accordion-inner .accordion-item{
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}
.accordion-inner .accordion-item p{
    color: var(--color-font-white) !important;
}
.accordion-inner .accordion-button{
    border-radius: 5px;
    background-color: var(--bg-color-primary) !important;
    color: var(--color-font-white);
}

.accordion-inner .accordion-button:not(.collapsed) {
    color: var(--color-font-white);
    box-shadow: none;
}
.at-discipline .accordion-inner .accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom: none !important;

}

.at-discipline .accordion-externo .accordion-inner .accordion-button{
    font-weight: 200;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x) !important;
}